#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes
*.d
*.orig
*.rej

#
# for GLOBAL
#
GTAGS
GRTAGS
GPATH
GSYMS

#
# programs
#
usr/tgtd
usr/tgtadm
usr/tgtimg


# osd-target programs
usr/otgtd
usr/pan_tgtd
usr/pansim_tgtd
